{% extends "pyensemble/base.html" %}
{% load crispy_forms_tags %}
{% load index %}

{% block header %}
<h1>Group Session Status</h1>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row border">
            <div class="col-md-6 py-2">
                <div class="row">
                    <div class="col-6 text-right">Experiment:</div>
                    <div class="col text-left text-muted pl-2">{{session.experiment.title}}</div>
                </div>
                <div class="row">
                    <div class="col-6 text-right">Group:</div>
                    <div class="col text-left text-muted pl-2">{{session.group.name}}</div>
                </div>
                <div class="row">
                    <div class="col-6 text-right">ID:</div>
                    <div class="col text-left text-muted pl-2">{{session.id}}</div>
                </div>
                <div class="row">
                    <div class="col-6 text-right">Participant Code:</div>
                    <div class="col text-left text-muted pl-2">{{session.ticket.participant_code}}</div>
                </div>
                <div class="row">
                    <div class="col-6 text-right">Experimenter Code:</div>
                    <div class="col text-left text-muted pl-2">{{session.ticket.experimenter_code}}
                        {% if session.experimenter_attached %}
                        <span class="text-success">(attached)</span>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-right">Ticket status:</div>
                    <div class="col text-left text-muted pl-2">
                        {% if session.ticket.expired %}
                            <span class="text-danger">Expired</span>
                        {% else %}
                            <span class="text-success">Active</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 py-2">
                <div class="row">
                     <div class="col-5 text-right">Session status:</div>
                     <div id="groupsession_status" class="col text-left text-muted pl-2">
                         {{session.States.names | index:session.state}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 text-right">Context:</div>
                    <div id="groupsession_context" class="col text-left text-muted pl-2">{{ session.context | pprint}}</div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row justify-content-around my-3">
            <a class="btn btn-primary" href="{% url 'pyensemble-group:groupsession_status' %}">Update</a>
            <a class="btn btn-danger" href="{% url 'pyensemble-group:abort_groupsession' %}">Abort</a>
            <a class="btn btn-success" href="{% url 'pyensemble-group:end_groupsession' %}">End</a>
        </div>
        <div class="row border-top my-3">
            <div class='col-12 text-center h3 pt-3'>Participants</div>
            <div class="col-12">
                <div class="row">
                    {% for gsss in session.groupsessionsubjectsession_set.all %}
                        <div class="card">
                            <div class="card-body">
                                 <h5 class="card-title">
                                    {{gsss.user_session.subject.subject_id}}
                                </h5>
                                <div class="card-body">
                                    {{gsss.user_session.subject.name_first}} {{gsss.user_session.subject.name_last}} 
                               </div>
                               <div class="card-body text-secondary">Most recent form:<br>    {{gsss.user_session.response_set.last.form.name}}
                               </div>
                            </div>
                            <div class="card-body">
                                State: {{gsss.States.names | index:gsss.state}}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
