{% extends "pyensemble/base.html" %}

{% block main %}
    {{form.header | safe}}

    {% if feedback %}
        {{feedback | safe }}
    {% endif %}

    <div class="py-3">
        <div class="my-3">
            Here is basic information about your session. Please include it in any correspondence with the experimenter.
        </div>

        <div class="text-muted col3">
            <table class="table table-borderless table-sm">
                <thead></thead>
                <tbody>
                    <tr>
                        <th class=
                        "text-right">Name:</th>
                        <td class=
                        "text-left">{{session.subject.name_first}} {{session.subject.name_last}}</td>
                    </tr>
                    <tr>
                        <th class=
                        "text-right">Session ID:</th>
                        <td class=
                        "text-left">{{session.id}}</td>
                    </tr>
                    <tr>
                        <th class=
                        "text-right">Start:</th>
                        <td class=
                        "text-left">{{session.start}}</td>
                    </tr>
                    <tr>
                        <th class=
                        "text-right">End:</th>
                        <td class=
                        "text-left">{{session.end}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% if sona_url %}
        <div class='py-3'>
            <a href="{{sona_url}}" class="btn btn-primary btn-lg" role="button">Click here to get your SONA credit</a>
        </div>
    {% endif %}

    {% if prolific_submission.status == 'SUBMISSION_COMPLETED' or 'SUBMISSION_NOT_ACTIVE' %}
        <div class='py-3'>
            Your Prolific submission has been completed and marked as such.
            <div class="my-3">
                <a href="https://app.prolific.com/submissions" class="btn btn-primary btn-lg" role="button">Return to Prolific submissions</a>
            </div>
        </div>
    {% elif prolific_completion_url %}
        <div class='py-3'>
            <div class="my-3">
                <a href="{{prolific_completion_url}}" class="btn btn-primary btn-lg" role="button">Click here to return to Prolific to register your completion of the experiment</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
