{% extends "pyensemble/base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'pyensemble/css/signin.css' %}" type="text/css" />
{% endblock %}

{% block main %}
    <div class="row justify-content-center">
        <form class="" method="post" autocapitalize="words" action="">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-6">
                    {{formset.name_first | as_crispy_field}}
                </div>
                <div class="col-6">
                    {{ formset.name_last | as_crispy_field }}
                </div>
                <div class="col-4">
                    {{ formset.dob | as_crispy_field }}
                </div>
            </div>
            <div class="row justify-content-center">
                <div id="demographics" class="col-8 border my-2">
                    <div class="row">
                        <div class="col">
                            {{ formset.sex | as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{formset.race| as_crispy_field}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ formset.ethnicity | as_crispy_field }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <input type="submit" value="Register" class="btn btn-primary"/>
            </div>
        </form>
    </div>
{% endblock %}
