{% extends "pyensemble/presentation_base.html" %}
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block head %}
    <link href="{% static 'jsPsych/css/jspsych.css' %}" rel="stylesheet" type="text/css"></link>
{% endblock %}

{% block trialrunner %}
{% endblock %}

{% block questions %}
    {% crispy formset helper %}
{% endblock %}

{% block appscript %}
    <script src="{% static 'jsPsych/jspsych.js' %}"></script>
    <script src="{% static 'pyensemble/js/trialrunner.js' %}"></script>

    <!-- Insert necessary plugins -->
    {% for trial in timeline %}
        <script src="{% static 'jsPsych/plugins/jspsych-'|add:trial.type|add:'.js' %}"></script>
    {% endfor %}

    <script>
        $(document).ready(function () {
            $('#trialrunner').removeClass('d-none');
            start_trial(JSON.parse('{{timeline_json | safe}}'));
        });
    </script>
{% endblock %}
