{% extends "pyensemble/handlers/form_generic.html" %}
{% load static %}

{% block feedback %}
    {{ feedback | safe }}
{% endblock %}

{% block appscript %}
    <script type="text/javascript" src="{% static 'thirdparty/jq/jquery.cookie.js' %}"></script>
    
    <script>
        $(document).ready(function () {
            {% if skip_trial %}
                $('#questions').removeClass('d-none');
            {% else %}
                {% include "group/js/set_ready.js" %}

                {% if feedback %}
                    $('#feedback').removeClass('d-none');
                    $('#questions').removeClass('d-none');
                {% elif autorun %}
                    $('#questions').removeClass('d-none');
                {% elif delay %}
                    setTimeout(function(){$('#questions').removeClass('d-none');},{{delay}})
                {% else %}
                    $('#questions').addClass('d-none');
                    {% include "group/js/get_participant_state.js" %}
                {% endif %}
            {% endif %}
        });
    </script>
{% endblock %}
