/*app-styles.css*/

body { padding-top: 120px; }

.form-check-input {
    position: relative;
    margin-top: 0.4rem;
    margin-left: 0;
}

.custom-control {
    padding-left: 0;
}

.custom-control-inline {
    margin-right: 0;
    display: block;
}

.custom-radio {
    /*margin-bottom: 20px;*/
}

.question-text {
    font-size: 1.1rem;
    font-weight: bold;
}

.contentlist-item {
    overflow-x: auto;
    overflow-y: hidden;
}

#detailHeader {
    margin-top: 56px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.experiment-info input,textarea {
    pointer-events: none;
    font-size: 0.8rem;
}

#form_table .textinput {
    width: 300px;
}
