/*app-styles.css*/

body > main { 
    margin-top: 100px; 
    margin-left: 10px;
    margin-right: 10px;
}

#presentation {
    margin: 15px;
}

.form-header {
    margin: 15px;
}

.form-check-input {
    position: relative;
    margin-top: 0.4rem;
    margin-left: 0;
}

.form-disabled {
    pointer-events: none;
    opacity: 0.5;
}

.custom-control {
    padding-left: 0;
}

.custom-control-inline {
    margin-right: 0;
    display: block;
}

.control-label {
    min-width: 70px;
}

.custom-radio {
    /*margin-bottom: 20px;*/
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;
  background: #D3D3D3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #FF0000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #FF0000;
  cursor: pointer;
}

.sliderticks {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.sliderticks p {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1px;
  background: #D3D3D3;
  height: 10px;
  line-height: 40px;
  margin: 0 0 20px 0;
}

.question-text {
    font-size: 1.1rem;
    font-weight: bold;
}

.contentlist-item {
    overflow-x: auto;
    overflow-y: hidden;
}

#detailHeader {
    margin-top: 56px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.experiment-info>input .experiment-info>textarea {
    font-size: 0.8rem;
}

.experiment-info select {
    width: 200px;
}


#form_table .textinput {
    width: 300px;
}

#item_selection {
/*    position: relative;*/
/*    top: 75px;*/
    z-index: 9000;
}

#search_section {
    z-index: 1000;
}

#search_section .input-group-prepend{
    flex: 0 0 80px;
}

#search_section .input-group-text{
    width: 100%;
}

#results_section {
    padding-top: 10px;
/*    position: absolute;
    top: 100px;*/
}


#results_table {
    position: relative;
    min-height: 80vh;
}

table.reporting {
    position: absolute; 
    top: 0px;
}

thead.reporting {
    position: sticky; 
    top: 0; 
    z-index: 50; 
    background-color: #fafafa
}

table.reporting thead th {
    vertical-align: top;
}

.freeze-pane.index {
    position: sticky;
    left: 0; 
    z-index: 20;
    background-color: #fafafa;
    vertical-align: bottom;
}
        
td.session_id {
    border-left: 2px solid #aaaaff;
}

#nav-section {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 110px;
}

#primary-navbar {
    z-index: 5000;
}

#secondary-navbar {
    top: 50px;
}

.reporting-selector-form select[name='question']{
    height: 50vh;
}

.analysis-nav {
/*    position: absolute;*/
/*    top: 65px;*/
/*    z-index: 40;*/
}