/*app-styles.css*/

body > main { 
    padding-top: 120px; 
}

.form-check-input {
    position: relative;
    margin-top: 0.4rem;
    margin-left: 0;
}

.custom-control {
    padding-left: 0;
}

.custom-control-inline {
    margin-right: 0;
    display: block;
}

.control-label {
    min-width: 70px;
}

.custom-radio {
    /*margin-bottom: 20px;*/
}

.question-text {
    font-size: 1.1rem;
    font-weight: bold;
}

.contentlist-item {
    overflow-x: auto;
    overflow-y: hidden;
}

#detailHeader {
    margin-top: 56px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.experiment-info>input .experiment-info>textarea {
    font-size: 0.8rem;
}

.experiment-info select {
    width: 200px;
}

#form_table .textinput {
    width: 300px;
}

#study_selection {
    position: relative;
    top: 75px;
}

#results_section {
    position: relative;
    top: 75px;
}


#results_table {
    position: relative;
    min-height: 70vh;
}

table.diagnostics {
    position: absolute; 
    top: 0px;
}

thead.diagnostics {
    position: sticky; 
    top: 0; 
    z-index: 50; 
    background-color: #fafafa
}

.freeze-pane.index {
    position: sticky;
    left: 0; 
    z-index: 20;
    background-color: #fafafa
}
        
