{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}
{% load crispy_forms_filters %}
{% load l10n %}


{% if form_show_errors and not form.is_extra %}
    {% include "bootstrap/errors.html" %}
{% endif %}

{% for field in form %}
    {% if field.is_hidden %}
        {{ field }}
    {% else %}
        <div class="{% if field.field.choices.0 == 'null'%}d-none{% endif %}row mb-4 
        pt-3 bg-light{% if forloop.counter|divisibleby:2 %}{% endif %}">
            <!-- Question text -->
            <div {% if form_id %} id="{{ form_id }}_formgroup"{% endif%} class="form-group col-12">
                <label for="{{ field.id_for_label }}" class="h5 control-label {% if field.errors %}text-danger{%endif%}">
                    {{ field.label|safe }}
                </label>

                <!-- Response options -->
                <div class="response-options row mt-2 justify-content-center align-items-end pt-3 border-top">
                    {% if field|is_radioselect or field|is_checkboxselectmultiple %}
                        {% for choice in field.field.choices %}   
                            <div class="{% if field.field.choices|length > 6 %}col{%else%}col-2{%endif%}">
                                    <div class='col-12'>
                                        <label for="id_{{ field.html_name }}_{{ forloop.counter }}" class="form-check-label">
                                            {{ choice.1|unlocalize }}
                                        </label>
                                    </div>
                                    <div class='col-12'>
                                        <input type="{%if field|is_radioselect%}radio{%else%}checkbox{%endif%}" class="form-check-input{% if field.errors %} is-invalid{% endif %}"{% if choice.0|stringformat:"s" == field.value|default_if_none:""|stringformat:"s" %} checked="checked"{% endif %} name="{{ field.html_name }}" id="id_{{ field.html_name }}_{{ forloop.counter }}" value="{{ choice.0|unlocalize }}" {{ field.field.widget.attrs|flatatt }}>
                                    </div>

                                    {% if field.errors and forloop.last and not inline_class %}
                                        {% include 'bootstrap4/layout/field_errors_block.html' %}
                                    {% endif %}
                            </div>
                            {% endfor %}
                    {% endif %}

                    {% if not field|is_checkboxselectmultiple and not field|is_radioselect %}
                        <div class="controls">
                            {% if field|is_checkbox and form_show_labels %}
                                <label for="{{ field.id_for_label }}" class="checkbox">
                                    {% crispy_field field %}
                                    {{ field.label|safe }}
                                </label>
                            {% else %}
                                {% crispy_field field %}
                            {% endif %}
                            {% include 'bootstrap/layout/help_text_and_errors.html' %}
                        </div>
                    {% endif %}
                </div>
                {% if field.errors %}
                    <div class="text-danger">*Please choose a response option</div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}
