<div id="copyItemModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Enter the name for the new {{item_type}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button id="copyItemSubmit" type="button" class="btn btn-primary mr-auto" data-dismiss="modal">Create {{item_type|title}}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('#copyLink').on('click', function(ev){
      $('#copyItemModal').modal();
    })

    $('#copyItemModal').on('show.bs.modal', function(ev){
      fetchNewItemForm('{{item_type}}s');
    });

    $('#copyItemSubmit').on('click',function(ev){
      ev.preventDefault();
      submitNewItemForm('{{item_type}}s');
    })
  })
</script>
