
<nav id="detailHeader" class="navbar navbar-dark navbar-expand-md bg-secondary fixed-top">
    <div class="navbar-brand">
        {% block detailContentTitle %}
        {% endblock %}
    </div>
    <div class="collapse navbar-collapse" id="detailEditorNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" id="formTableEditButton" href="#">Edit</a>
            </li>
            {% block additionalDetailContentNavItems %}
            {% endblock %}
            <li class="nav-item">
                {% if object_type %}
                    {% with "export_"|add:object_type|add:"_json" as target_url %}
                    <a class="nav-link" href="{% url target_url id=form.instance.pk %}">Export to JSON</a>
                    {% endwith %}
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
<div id="detailContent">
    {% block detailContent %}
    {% endblock %}
</div>

<script type="text/javascript">
    $(function(){
        setEditStatus('true');

        $("#formTableEditButton").on('click', function(){
            toggleEditStatus();
        });

        $('.has-popover').popover({'trigger':'hover'});
    })
</script>

{% block formscript %}{% endblock %}