{% extends 'pyensemble/editor_detail.html' %}
{% load crispy_forms_tags %}

{% block detailContentTitle %}
    {% if form.instance.pk %}
        Edit Enum
    {% else %}
        New Enum
    {% endif %}
{% endblock %}

{% block additionalDetailContentNavItems %}
{% endblock %}

{% block detailContent %}
    <input type="hidden" id="parent_id" value="{{form.instance.pk}}">

    <div class="">
    </div>

    {% crispy form %}

    <div class="editor form-actions text-center {% if form.instance.pk %}d-none{%endif%}">
        <button type="submit" class="btn btn-primary">Submit enum</button>
    </div>

{% endblock %}

{% block formscript %}
    {% include "pyensemble/js/custom_form_submit.js" %}
{% endblock %}