{% extends "pyensemble/editor_detail.html" %}
{% load crispy_forms_tags %}

{% block detailContentTitle %}
    {% if form.instance.pk %}
        {{form.instance.name}}
    {% else %}
        New Form
    {% endif %}
{% endblock %}

{% block additionalDetailContentNavItems %}
    <li class="nav-item">
        <a class="nav-link" href="#formQuestions">Questions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'form_present' form.instance.pk %}" target="_blank">Preview</a>
    </li>
{% endblock %}

{% block detailContent %}
    <input type="hidden" id="parent_id" value="{{form.instance.pk}}">
    {% crispy form %}

    {% include "pyensemble/modals/add_item_modal.html" with item_type='question' %}

{% endblock %}