{% extends "pyensemble/base.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'jsPsych/css/jspsych.css' %}" rel="stylesheet" type="text/css"></link>
{% endblock %}

{% block header %}
    {% if form.header %}
        <div class="form-header py-3">
            {{ form.header|safe }}
        </div>
    {% endif %}
{% endblock %}

{% block main %}
<div id="presentation" class="row align-items-center py-3">
    <div id="feedback" class="col-12 d-none">
        {% block feedback %}
        {% endblock %}        
    </div>

    <div id="trialrunner" class="col-12 d-none">
        {% block trialrunner %}
        {% endblock %}
    </div>

    <div id="questions" class="col-12 d-none">
        {% block questions %}
        {% endblock %}
    </div>

</div>
{% endblock %}

{% block footer %}
    {% if form.footer %}
        <div class="form-footer py-3 h5">
            {{form.footer|safe}}
        </div>
    {% endif %}
{% endblock %}

{% block formscript %}
    <script>
        function disableSubmitButtons(form) {
            form.querySelectorAll('.form-actions input[type="submit"]').forEach(b => b.disabled=true);
            return true;
        };
    </script>
{% endblock %}

{% block appscript %}
    <script>
        $(document).ready(function () {
            {% block document_ready_js_content %}
                $('#questions').removeClass('d-none');
            {% endblock %}
        });
    </script>
{% endblock %}

