{% extends "pyensemble/base.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'jsPsych/css/jspsych.css' %}" rel="stylesheet" type="text/css"></link>
{% endblock %}

{% block header %}
    {% if form.header %}
        <div class="form-header py-3">
            {{ form.header|safe }}
        </div>
    {% endif %}
{% endblock %}

{% block main %}
<div id="presentation" class="row align-items-center py-3">
    <div id="trialrunner" class="col-12 d-none">
        {% block trialrunner %}
        {% endblock %}
    </div>

    <div id="questions" class="col-12 d-none">
        {% block questions %}
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block footer %}
    {% if form.footer %}
        <div class="form-footer py-3 h5">
            {{form.footer|safe}}
        </div>
    {% endif %}
{% endblock %}

{% block appscript %}
{% endblock %}