{% extends "pyensemble/base.html" %}
{% load static %}

{% block head %}
    <link href="{% static 'jsPsych/css/jspsych.css' %}" rel="stylesheet" type="text/css"></link>
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
<div id="presentation" class="row col-12 align-items-center">
    <div id="trialrunner" class="row col-12 d-none">
        {% block trialrunner %}
        {% endblock %}
    </div>

    <div id="questions" class="row col-12 d-none">
        {% block questions %}
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block footer %}
    {{form.footer}}
{% endblock %}

{% block appscript %}
{% endblock %}