{% extends "pyensemble/base.html" %}

{% block header %}
<nav class="navbar navbar-expand-sm navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">PyEnsemble</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#editor-navbar" aria-expanded="false" aria-controls="editor-navbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="editor-navbar">
        <ul class="navbar-nav mr-auto">
            <li><a class="nav-link content-link" href="{% url 'editor' %}">Editors</a></li>
            <li><a class="nav-link content-link" href="{% url 'reporting' %}">Reports</a></li>
            <li><a class="nav-link content-link" href="{% url 'stimulus' %}">Stimuli</a></li>        
        </ul>
        <ul class="navbar-nav ml-auto">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block main %}
    <main>
        <div class="container">
            <div class="row align-items-center">
                <div class="col align-self-center">
                    <h1>Welcome to PyEnsemble!</h1>
                </div>
            </div>
        </div>
    </main>
{% endblock %}