{% extends 'pyensemble/editor_detail.html' %}
{% load crispy_forms_tags %}

{% block detailContentTitle %}
    Edit Question
{% endblock %}

{% block additionalDetailContentNavItems %}
{% endblock %}

{% block detailContent %}
    <input type="hidden" id="parent_id" value="{{form.instance.pk}}">

    {% crispy form %}

    <div class="editor form-actions text-center">
        <button type="submit" class="btn btn-primary">Submit changes</button>
    </div>
{% endblock %}

{% block formscript %}
    <script type="text/javascript">
        $(function(){
            $('select').chosen();
            $("#formTableEditButton").addClass('d-none');
        });
    </script>

    {% include "pyensemble/js/custom_form_submit.js" %}
{% endblock %}