
<table
    data-toggle="table"
    data-search="true"
    data-pagination="true"
    data-click-to-select="true"
    class="form-list table-striped"
>
    <thead>
      <tr class="list-group-item">
        <th data-field="checkbox" data-checkbox="true"></th>
        <th data-field="name">Question Text</th>
      </tr>
    </thead>
    <tbody>
        {% for q in question_list %}
            <tr class="contentlist-item">
                <td></td>
                <td class="text-left">
                    {% if request.GET.type == 'question_select' %}
                        {{q.text}}
                    {% else %}
                        <a class="contentlist-item-link" href="/questions/{{q.pk}}/">{{ q.text}}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>