{% extends 'pyensemble/editor_detail.html' %}
{% load crispy_forms_tags %}

{% block detailContentTitle %}
    New Question
{% endblock %}

{% block additionalDetailContentNavItems %}
{% endblock %}

{% block detailContent %}
    <input type="hidden" id="parent_id" value="{{form.instance.pk}}">

    {% crispy form %}

    <div class="editor form-actions text-center ">
        <button type="submit" class="btn btn-primary">Submit question</button>
    </div>

{% endblock %}

{% block formscript %}
    <script type="text/javascript">
        $(function(){
            $('select').chosen();
            $(".editor.form-actions button").on('click',function(ev){
                ev.stopImmediatePropagation();
                ev.preventDefault();
                submitForm($(".editor-form"));
            });
            $("#formTableEditButton").addClass('d-none');
        });
    </script>

{% endblock %}