{% extends "pyensemble/stimulus_base.html" %}

{% block main %}
<main>
    <div id="results_table" class="mt-2 overflow-auto sticky-top">
        <table class="reporting table table-striped table-bordered table-sm">
            <thead class="reporting">
                <tr>
                    <th class="freeze-pane index">ID</th>
                    <th class="freeze-pane index">Name</th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Year</th>
                    <th>Genre</th>
                    <th>Playlist</th>
                    <th>Description</th>
                    <th>Format</th>
                    <th>Duration</th>
                    <th>Width</th>
                    <th>Height</th>
                    <th>Location</th>
                    <th>Attributes</th>
                </tr>
            </thead>
            <tbody class="reporting">
                {% for stimulus in stimulus_list %}
                <tr>
                    <td class="freeze-pane index">{{stimulus.id}}</td>
                    <td class="freeze-pane index text-left">{{stimulus.name}}</td>
                    <td>{{stimulus.artist}}</td>
                    <td>{{stimulus.album}}</td>
                    <td>{{stimulus.year}}</td>
                    <td>{{stimulus.genre}}</td>
                    <td>{{stimulus.playlist}}</td>
                    <td>{{stimulus.description}}</td>
                    <td>{{stimulus.format}}</td>
                    <td>{{stimulus.duration}}</td>
                    <td>{{stimulus.width}}</td>
                    <td>{{stimulus.height}}</td>
                    <td class="text-left">{{stimulus.location}}</td>
                    <td>
                        {% for sxa in stimulusxattribute_set %}
                            <div>{{sxa.attribute.name}}: {{sxa.mapping_value_text}}</div>
                        {% endfor %}
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}


    description = models.CharField(max_length=30)
    playlist = models.CharField(max_length=50, blank=True)
    artist = models.CharField(max_length=200, blank=True)
    album = models.TextField(blank=True)
    genre = models.TextField(blank=True)
    file_format = models.CharField(max_length=6, blank=True)
    size = models.IntegerField(blank=True, null=True)
    duration = models.TimeField(blank=True, null=True)
    year = models.IntegerField(blank=True, null=True)  
    compression_bit_rate = models.IntegerField(blank=True, null=True)
    sample_rate = models.IntegerField(blank=True, null=True)
    sample_size = models.IntegerField(blank=True, null=True)
    channels = models.IntegerField(blank=True, null=True)
    width = models.IntegerField(blank=True, null=True)
    height = models.IntegerField(blank=True, null=True)
    location = models.FileField(max_length=512)
