
<script>
    $(document).ready(function (){
        $.ajax({
            url: "{% url 'record-timezone' %}",
            type: 'POST',
            dataType: "json",        
            data: {
                'timezone': Intl.DateTimeFormat().resolvedOptions().timeZone,
                {% if session_id %}
                'session_id': {{session_id}},
                {% endif %}
            },
            success: function(data){
            },
            error: function(response,errorText){
            },
        })
    })
</script>